<!DOCTYPE html>
<html>
    <head>
        <title>{{name}}</title>
    </head>
    <body>
        {% if name == "keisuke" %}
        <h1>{{name}}'s special page</h1>
        {% elif name %}
        <h1>{{name}}'s page</h1>
        {% else %}
        <h1>page</h1>
        {% endif %}
        {% for word in team %}
        <p>{{word}}</p>
        {% endfor %}
        <form action="/index" method="POST">
            <input type="text" name="name" placeholder="Name">
            <input type="submit" value="Submit">
        </form>
        <img src="/static/images/madridvsatletico.jpg" alt="madridderby">
    </body>
</html>